@model IEnumerable<DorDam_ENTITY.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Common/Admin_Common_View.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Product Picture</th>
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Product Price</th>
            <th>About</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@Url.Content(item.Product_Picture)" class="img-circle" alt="Cinque Terre" width="100" height="100" /></td>
                <td>@Html.DisplayFor(modelItem => item.Product_Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Product_Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.Product_Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Product_About)</td>

                <td>
                    <a href="/AdminProduct/Edit/@item.Id">
                        <i class="fa fa-pencil fa-fw"></i>Edit
                    </a>
                    &nbsp; &nbsp;
                    <a href="/AdminProduct/Delete/@item.Id" style="color:red">
                        <i class="fa fa-trash-o fa-lg"></i>Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Title{
    Search
}


@section header{
    Search Item
}
